$font-family: Arial, sans-serif;

$base-font: 16px;

$primary-color: #ffffff;
$primary-orange: #ff5733;
$deep-blue: #0056b3;
$rich-purple: #663399;
$text-dark: #2a2929;
$soft-white: #f5f5fd;
$bg-dark: #262626;

$red: rgb(255, 0, 0);
$blue: rgb(0, 0, 255);
$green: rgb(0, 128, 0);
$purple: rgb(128, 0, 128);

$light-gold: hsl(35, 100%, 90%);
$gold-border: hsl(35, 100%, 50%);

$base: 4px;
