<main>
  <h1 id="heading">CSS Selectors</h1>
  <span [routerLink]="'attribute'">1. Attribute Selectors Examples</span><br/>
  <span [routerLink]="'combinator'">2. CSS Combinators Examples</span><br/>
  <span [routerLink]="'pseudo-selector'">3. Pseudo-class Selectors</span><br/>
  <span [routerLink]="'pseudo-element'">4. Pseudo-element Selectors</span><br/>
  <span [routerLink]="'transition'">5. Transition</span><br/>
  <span [routerLink]="'animation'">6. Animation</span><br/>
  <span [routerLink]="'transform'">7. Transforms</span><br/>
  <span [routerLink]="'filter'">8. Filter</span><br/>

  <div>===================================</div>
  
  <div class="mt-1">
    <router-outlet/>
  </div>
</main>